@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,200;0,300;0,400;0,500;0,600;0,700;0,800;1,400;1,500;1,600;1,700;1,800&family=Raleway:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,300;1,400;1,500;1,600;1,700;1,900&display=swap');

*{
    text-decoration: none;
    font-family: 'Poppins', sans-serif;
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}



.header{
    display: flex;
    position: fixed;
    height: 60px;
    width: 100%;
    background-color: #fff;
    align-items: center;
    justify-content: space-evenly;
    box-shadow: 0 0 20px 0 rgba(24,24,24,.1);
    z-index: 999;
}

.header-logo{
 height: 70px;
 padding-top: 5px;
}

.header-nav ul li{
    list-style: none;
    display: inline-block;
}

.header-nav ul li a{
    color: black;
    transition:  0.3s ease;
    box-sizing: border-box;
    padding: 13px 20px;
    font-size: 16px;
    font-weight: 500;
}

.header-nav ul li a:hover,
.haeder-nav ul li a:active{
    background-color: white;
    text-decoration: underline;
    text-underline-offset: 8px;
    text-decoration-color: #8fb830;
    text-decoration-thickness: 2px;
    animation: ease-out;
}


.toggle{
    display: none;
}




.cta, .btn-1, .btn-2{
    margin-left: 20px;
    padding: 10px 20px;
    font-size: 14px;
    font-weight: 500;
    background-color: black;
    color: #fff;
    border-radius: 6px;
    border: none;
    transition: all 0.2s ease-in-out; 
}

a button:hover{
    box-shadow: 0 0 3px 3px #4e4e4e3a; 
}





.banner{
    background-image: url(./images/Banner-1.jpg);
    background-size: cover;
    background-position: center;
    height: 800px;
    /* z-index: 0;  */
    display: flex;
    justify-content: center;
    align-items: center;
    /* position: relative; */
}

.banner p{
    font-family: 'Raleway', sans-serif;
    font-size: 22px;
    padding: 22px;
}

.banner hr{
    width: 90px;
    border: 1px solid #fff;
    margin-bottom: 22px;
}

.banner h1{
    font-family: 'Raleway', sans-serif;
    font-size: 4.5vw;
    font-weight: 300;
}

.banner h1 span{
    color: #fff;
    font-family: 'Raleway', sans-serif;
    font-size: 4.5vw;
    font-weight: 700;
}

.banner a button{
    font-family: 'Raleway', sans-serif;
    font-size: 15px;
    font-weight: 600;
    padding: 16px 28px;
    margin-top: 35px;
}

.banner a .btn-2{
    background-color: #a6e72a;
    color: #000;
}





#clutch{
    display: flex;
    justify-content:center;
    align-items: center;
    padding-top: 50px;
}

#clutch div{
    /* padding: 100px; */
    padding: 5vw;
}

#clutch .col_1{
    flex-basis: 50%;
}

#clutch .col_1 h1{
    font-family: 'Raleway', sans-serif;
    font-size: 3.8vw;
    padding-bottom: 30px;
}

#clutch .btn-2{
    margin: 0;
    margin-top: 30px;
}




#solution{
    background-color: #181818;
    display: flex;
    justify-content: center;
    align-content: center;
    padding: 0 7vw;
    color: #fff;
}

#solution div{
    align-self: center;
    justify-self: center;
    padding: 0 2vw;
    flex-basis: 50%;
}

.solution-text{
    margin: 3vw 0;
}
.solution-video{
    display: flex;
    justify-content: center;
    margin: 10vw 0;
}

.solution-video iframe{
    height: 350px;
    width: 40vw;
}

@media (max-width:1000px) {
    #solution{
        display: block;
        padding-top: 20px;
    }
    .solution-video iframe{
        height: 350px;
        width: 100%;
    }
}

.solution-text h1{
    font-family: 'Raleway', sans-serif;
    font-size: 3.8vw;
    font-weight: 400;
}

.solution-text h1 span{
    color: #a6e72a;
    font-weight: 600;
}

.solution-text .btn-1{
    margin: 20px 0;
    background-color: #fff;
    color: #000;
    padding: 15px 30px;
    font-size: 17px;
}

.solution-text .btn-1:hover{
    box-shadow: 0 0 15px 0px #ffffff3a; 
}



.industries-content{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 80px;
    align-items: center;
    justify-items: center;
    padding: 120px 7vw;
}

.industries-heading{
    text-align: center;
    font-family: 'Raleway', sans-serif;
    font-size: 3vw;
    font-weight: 400;
    padding-top: 100px;
}

.industries-heading span{
    font-weight: 600;
    color: #a6e72a;
}

.industries-items{
    display: grid;
    justify-items: center;
}
.industries-items h3{
    padding-top: 30px;
}




/* Responsive */


@media (min-width: 769px) and (max-width: 1100px) {

    .header{
        justify-content: flex-start;
    }

    .header-nav{
        display: none;
        position: absolute;
        left: 0;
        top: 60px;
        height: 9999px;
        width: 350px;
        background-color: #fff;
        text-align: center;
        padding: 100px 0;
        box-shadow: 0 5px 20px 0 rgba(24,24,24,.1);
    }

    .header-btn-div{
        display: none;
        position: absolute;
        left: 0;
        top: 400px;
        width: 350px;
        text-align: center;
        padding: 100px 0;
    }
    
    .toggle-img{
        display: flex;
        height: 35px;
        padding: 0 20px;
        margin-top: -5px;
    }

    .toggle{
        display: none;
    }

    .header-nav ul li{
        box-sizing: none;
        display: block;
        padding: 10px;
    }

    .toggle{
        display: none;
    }

    .toggle:checked ~ .header-nav, .toggle:checked ~ .header-btn-div{
        display: block;
    }
    

    .industries-heading{
        font-size: 4vw;
    }
}





@media (min-width: 481px) and (max-width: 768px){

   
    .header{
        justify-content: flex-start;
    }

    .header-nav{
        display: none;
        position: absolute;
        left: 0;
        top: 60px;
        height: 9999px;
        width: 350px;
        background-color: #fff;
        text-align: center;
        padding: 100px 0;
        box-shadow: 0 5px 20px 0 rgba(24,24,24,.1);
    }

    .header-btn-div{
        display: none;
        position: absolute;
        left: 0;
        top: 400px;
        width: 350px;
        text-align: center;
        padding: 100px 0;
    }
    
    .toggle-img{
        display: flex;
        height: 35px;
        padding: 0 20px;
        margin-top: -5px;
    }

    .toggle{
        display: none;
    }

    .header-nav ul li{
        box-sizing: none;
        display: block;
        padding: 10px;
    }

    .toggle{
        display: none;
    }

    .toggle:checked ~ .header-nav, .toggle:checked ~ .header-btn-div{
        display: block;
    }

    .banner h1, .banner h1 span{
        font-size: 6vw;
    }

    #clutch{
        display: inline-block;
    }
    
    #clutch div{
        padding: 10vw 5vw;
    }

    #clutch .col_1 h1{
        font-size: 6vw;
    }

    .industries-content{
        grid-template-columns: repeat(2, 1fr);
    }

    .industries-heading{
        font-size: 4vh;
    }
}

@media (max-width: 480px) {
    
    .header{
        justify-content: flex-start;
    }

    .header-nav{
        display: none;
        position: absolute;
        left: 0;
        top: 60px;
        height: 9999px;
        width: 300px;
        background-color: #fff;
        text-align: center;
        padding: 100px 0;
        box-shadow: 0 5px 20px 0 rgba(24,24,24,.1);
    }

    .header-btn-div{
        display: none;
        position: absolute;
        left: 0;
        top: 400px;
        width: 300px; 
        text-align: center;
        padding: 100px 0;
    }
    
    .toggle-img{
        display: flex;
        height: 35px;
        padding: 0 20px;
        margin-top: -5px;
    }

    .toggle{
        display: none;
    }

    .header-nav ul li{
        box-sizing: none;
        display: block;
        padding: 10px;
    }

    .toggle{
        display: none;
    }

    .toggle:checked ~ .header-nav, .toggle:checked ~ .header-btn-div{
        display: block;
    }




    .banner h1, .banner h1 span{
        font-size: 7vw;
    }

    .btn-1, .btn-2{
        font-size: 12px;
        margin: 0;
    }

    .banner a button{
        font-size: 12px;
        display: block;
        margin: 16px 0;
        font-weight: 700;
    }

    #clutch{
        display: inline-block;
    }

    #clutch div{
        padding: 10vw 5vw;
    }

    #clutch .col_1 h1{
        font-size: 9vw;
    }

    .industries-content{
        grid-template-columns: repeat(1, 1fr);
    }

    .industries-heading{
        font-size: 4vh;
    }
}




/* success_section */
#Success_section{
    display: flex;
    justify-content:center;
    align-items: center;
    padding-top: 50px;
    text-align: center;
    background-color: #181818;
    color: #fff;
}


#Success_section .col_1{
    flex-basis: 50%;
    margin-top: 120px;
}

.Grn
{
    color:#a6e72a;
    font-weight: 600;
}

.success_font{
    font-size: 3vw;
    font-weight: 400;
}

.success-para{
    padding-top: 30px;
}

.Our_partner{
    justify-content: center;
    padding: 100px 100px 150px 100px;
    display: flex;
    background-color: #181818;
    flex-wrap: wrap;
    place-self: center;
    gap: 20px;
}
.logo{
    padding: 18px;
}

/* responsive */
@media (max-width:1100px) {
    .success_font{
        font-size: 4vw;
    }  
}

@media (max-width:769px){
    .success_font{
        font-size: 5vw;
    }
}

@media (max-width:450px){
    .success_font{
        font-size: 7vw;
    }
}

.dev_logo{
    margin-top: 20px;
    padding: 40px;
    width: 250px;
    margin-left: 3vw;
}
.up_line{
    width: 95%;
    border: 1px solid #79797931;
    margin-left: auto;
    margin-right: auto;
    color: #a6e72a;
}
.container{
	max-width: 1170px;
	margin:auto;
}
.row{
	display: flex;
	flex-wrap: wrap;
}
ul{
	list-style: none;
}
.footer{
	background-color: #ffffff;
    padding: 70px 0;
}
.footer-col{
   width: 25%;
   padding: 0 15px;
}
.footer-col h2{
	font-size: 25px;
	color: #a6e72a;
	text-transform: capitalize;
	margin-bottom: 35px;
	font-weight: 500;
	position: relative;
}
.footer-col h2::before{
	content: '';
	position: absolute;
	left:0;
	bottom: -10px;
	background-color: black;
	height: 2px;
	box-sizing: border-box;
	width: 50px;
}
.footer-col ul li:not(:last-child){
	margin-bottom: 10px;
}
.footer-col ul li a{
	font-size: 16px;
	text-transform: capitalize;
	color: #000000;
	text-decoration: none;
	font-weight: 300;
	color: #000000;
	display: block;
	transition: all 0.3s ease;
}
.footer-col ul li a:hover{
	color: #a6e72a;
	padding-left: 8px;
}
.footer-col .social-links a{
	display: inline-block;
	height: 40px;
	width: 40px;
	background-color: #a6e72a;
	margin:0 10px 10px 0;
	text-align: center;
	line-height: 40px;
	border-radius: 50%;
	color: #000000;
	transition: all 0.5s ease;
}
.footer-col .social-links a:hover{
	color: #ffffff;
	background-color: #000000;
}

/*responsive*/
@media(max-width: 767px){
  .footer-col{
    width: 50%;
    margin-bottom: 30px;
}
}
@media(max-width: 574px){
  .footer-col{
    width: 100%;
}
}
.mid_line{
    width: 95%;
    margin-left: auto;
    margin-right: auto;
    border: 1px solid #79797931;
    margin-top: 70px;
}
.copy_right
{
    padding: 20px 50px;
    margin-left: 45px;
}
.bottom_line{
    width: 95%;
    margin-left: auto;
    margin-right: auto;
    border: 1px solid #79797931;
}