@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,200;0,300;0,400;0,500;0,600;0,700;0,800;1,400;1,500;1,600;1,700;1,800&family=Raleway:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,300;1,400;1,500;1,600;1,700;1,900&display=swap');

*{
    text-decoration: none;
    font-family: 'Poppins', sans-serif;
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}



.hamburger img{
    display: none;
}

.hamburger{
    display: inline-block;
    left: 5%;
    top: 5%;
    position: absolute;
    cursor: pointer;
    z-index: 1;
}

header{
    background-color: #fff;
    height: 60px;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    position:  fixed;
    width: 100%;
    box-shadow: 0 0 20px 0 rgba(24,24,24,.1);
}


header img{
    height: 70px;
}


nav ul li{
    display: inline-block;
    list-style: none;
    font-size: 16px;
    font-weight: 500;
}

nav ul li a{
    color: black;
    transition:  0.3s ease;
    box-sizing: border-box;
    padding: 13px 20px;
}

nav ul li a:hover{
    background-color: white;
    text-decoration: underline;
    text-underline-offset: 8px;
    text-decoration-color: #8fb830;
    text-decoration-thickness: 2px;
    animation: ease-out;
}

nav ul li a:active{
    background-color: white;
    text-decoration: underline;
    text-underline-offset: 8px;
    text-decoration-color: #8fb830;
    text-decoration-thickness: 2px;
    animation: ease-out;
}

.cta, .btn-1, .btn-2{
    margin-left: 20px;
    padding: 10px 20px;
    font-size: 14px;
    font-weight: 500;
    background-color: black;
    color: #fff;
    border-radius: 6px;
    border: none;
    transition: all 0.2s ease-in-out; 
}

a button:hover{
    box-shadow: 0 0 3px 3px #4e4e4e3a; 
}





.banner{
    background-image: url(./images/Banner-1.jpg);
    background-size: cover;
    background-position: center;
    height: 800px;
    /* z-index: 0;  */
    display: flex;
    justify-content: center;
    align-items: center;
    /* position: relative; */
}

.banner p{
    font-family: 'Raleway', sans-serif;
    font-size: 22px;
    padding: 22px;
}

.banner hr{
    width: 90px;
    border: 1px solid #fff;
    margin-bottom: 22px;
}

.banner h1{
    font-family: 'Raleway', sans-serif;
    font-size: 4.5vw;
    font-weight: 300;
}

.banner h1 span{
    color: #fff;
    font-family: 'Raleway', sans-serif;
    font-size: 4.5vw;
    font-weight: 700;
}

.banner a button{
    font-family: 'Raleway', sans-serif;
    font-size: 15px;
    font-weight: 600;
    padding: 16px 28px;
    margin-top: 35px;
}

.banner a .btn-2{
    background-color: #a6e72a;
    color: #000;
}





#clutch{
    display: flex;
    justify-content:center;
    align-items: center;
    padding-top: 50px;
}

#clutch div{
    /* padding: 100px; */
    padding: 5vw;
}

#clutch .col_1{
    flex-basis: 50%;
}

#clutch .col_1 h1{
    font-family: 'Raleway', sans-serif;
    font-size: 3.8vw;
    padding-bottom: 30px;
}

#clutch .btn-2{
    margin: 0;
    margin-top: 30px;
}




/* #solution{
    height: 700px;
    background-color: #181818;
} */


.header{
    display: none;
}



@media (min-width: 769px) and (max-width: 1100px) {

    .header-pc{
        display: none;
    }
    
    .header{
        display: flex;
        flex-direction: column;
        height: 100%;
        width: 60%;
        background-color: #fff;
        top: 0;
        position: fixed;
        text-align: center;
        padding: 20px;
        z-index: 0;
    }

    .check{
        cursor: pointer;
    }


    header nav ul li{
        display: block;
        text-align: center;
        padding-top: 20px;
    }

    .hamburger img{
        display: block;
        height: 30px;
    }

    .hamburger{
        display: flex;
        left: 5%;
        top: 5%;
        position: fixed;
        z-index: 1;
    }
    
}





@media (min-width: 481px) and (max-width: 768px){

    .header-pc{
        display: none;
    }

    .header{
        display: flex;
        flex-direction: column;
        height: 100%;
        width: 60%;
        background-color: #fff;
        top: 0;
        left: 0;
        position: fixed;
        text-align: center;
        padding: 20px;
        z-index: 0;
    }


    .toggle{
        cursor: pointer;
    }


    header nav ul li{
        display: block;
        text-align: center;
        padding-top: 20px;
    }

    .hamburger img{
        display: block;
        height: 30px;
        width: 30px;
        background-image: url('./images/bars-solid.svg');
        background-repeat: no-repeat;
        background-color: #00000000;
        border: 0;
    }

    .hamburger{
        display: flex;
        left: 5%;
        top: 5%;
        position: fixed;
        z-index: 1;
    }

    .banner h1, .banner h1 span{
        font-size: 6vw;
    }

    #clutch{
        display: inline-block;
    }
    
    #clutch div{
        padding: 10vw 5vw;
    }

    #clutch .col_1 h1{
        font-size: 6vw;
    }
}

@media (max-width: 480px) {
    
    .header-pc{
        display: none;
    }

    .header{
        display: flex;
        flex-direction: column;
        height: 100%;
        width: 80%;
        background-color: #fff;
        top: 0;
        position: fixed;
        text-align: center;
        padding: 20px;
        z-index: 0;
    }


    header nav ul li{
        display: block;
        text-align: center;
        padding-top: 20px;
    }

    .hamburger img{
        display: block;
        height: 30px;
    }

    .hamburger{
        display: flex;
        left: 5%;
        top: 5%;
        position: fixed;
        z-index: 1;
    }

    .banner h1, .banner h1 span{
        font-size: 7vw;
    }

    .btn-1, .btn-2{
        font-size: 12px;
        margin: 0;
    }

    .banner a button{
        font-size: 12px;
        display: block;
        margin: 16px 0;
        font-weight: 700;
    }

    #clutch{
        display: inline-block;
    }

    #clutch div{
        padding: 10vw 5vw;
    }

    #clutch .col_1 h1{
        font-size: 9vw;
    }
}
/* success_section */
#Success_section{
    display: flex;
    justify-content:center;
    align-items: center;
    padding-top: 50px;
    text-align: center;
    background-color: #000;
    color: #fff;
    padding: 50px;
}


#Success_section .col_1{
    flex-basis: 50%;
    margin-top: 120px;
}
.Grn
{
    color:#a6e72a;
}
.success_font{
    font-size: 50px;
}
.Our_partner{
    justify-content: center;
    padding: 100px;
    display: flex;
    background-color: rgb(0, 0, 0);
    flex-wrap: wrap;
    place-self: center;
}
.logo{
    padding: 18px;
}
.dev_logo{
    margin-top: 20px;
    padding: 40px;
  
}
.up_line{
    width: 95%;
    margin-left: auto;
    margin-right: auto;
    height: 2px;
    color: #a6e72a;
}
.container{
	max-width: 1170px;
	margin:auto;
}
.row{
	display: flex;
	flex-wrap: wrap;
}
ul{
	list-style: none;
}
.footer{
	background-color: #ffffff;
    padding: 70px 0;
}
.footer-col{
   width: 25%;
   padding: 0 15px;
}
.footer-col h2{
	font-size: 25px;
	color: #a6e72a;
	text-transform: capitalize;
	margin-bottom: 35px;
	font-weight: 500;
	position: relative;
}
.footer-col h2::before{
	content: '';
	position: absolute;
	left:0;
	bottom: -10px;
	background-color: black;
	height: 2px;
	box-sizing: border-box;
	width: 50px;
}
.footer-col ul li:not(:last-child){
	margin-bottom: 10px;
}
.footer-col ul li a{
	font-size: 16px;
	text-transform: capitalize;
	color: #000000;
	text-decoration: none;
	font-weight: 300;
	color: #000000;
	display: block;
	transition: all 0.3s ease;
}
.footer-col ul li a:hover{
	color: #a6e72a;
	padding-left: 8px;
}
.footer-col .social-links a{
	display: inline-block;
	height: 40px;
	width: 40px;
	background-color: #a6e72a;
	margin:0 10px 10px 0;
	text-align: center;
	line-height: 40px;
	border-radius: 50%;
	color: #000000;
	transition: all 0.5s ease;
}
.footer-col .social-links a:hover{
	color: #ffffff;
	background-color: #000000;
}

/*responsive*/
@media(max-width: 767px){
  .footer-col{
    width: 50%;
    margin-bottom: 30px;
}
}
@media(max-width: 574px){
  .footer-col{
    width: 100%;
}
}
.mid_line{
    width: 95%;
    margin-left: auto;
    margin-right: auto;
    height: 2px;
    color: #a6e72a;
    margin-top: 77px;
}
.copy_right
{
    padding: 50px;
    margin-left: 45px;
}
.bottom_line{
    width: 95%;
    margin-left: auto;
    margin-right: auto;
    height: 2px;
    color: #a6e72a;
    margin-top: 15px;
}